/1.evaluación/Practica2/Ejercicio1/nbproject/private/
/1.evaluación/Practica2/Ejercicio 2/nbproject/private/
/1.evaluación/Practica2/Ejercicio 2/build/
/1.evaluación/Practica2/Ejercicio 3/nbproject/private/
/1.evaluación/Practica2/Ejercicio 3/build/
/1.evaluación/Practica2/Ejercicio 4/nbproject/private/
/1.evaluación/Practica2/Ejercicio 1/nbproject/private/
/1.evaluación/Practica2/Ejercicio 1/build/
/1.evaluación/Practica2/Ejercicio 1/dist/
/1.evaluación/Practica2/Ejercicio 3.1/nbproject/private/
/1.evaluación/Practica2/Ejercicio 3.1/build/
/1.evaluación/Practica2/Ejercicio4.1/nbproject/private/
/1.evaluación/Practica2/Ejercicio5/nbproject/private/
/1.evaluación/Practica2/Ejercicio4.1/build/
/1.evaluación/Practica2/Ejercicio 4/build/
/1.evaluación/Practica2/Ejercicio7/nbproject/private/
/1.evaluación/Practica3/ejercicio1/nbproject/private/
/1.evaluación/Practica3/Ejercicio2/nbproject/private/